body{
	background: #F2F2F2;
	width:80%;
	margin-left: 10%;
	font-size:18px;
}
table{
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Google Chrome y Safari */
	border-radius: 10px;
}
table, tr, td{
	border:1px solid #848484;
	font-size:20px;
	
}
tr{
	text-align: center;
}
.main{
	border:1px solid #848484;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Google Chrome y Safari */
	border-radius: 10px;	
	padding:20px;
	height: 25%;
	background-color:#D8D8D8;
}
.list-group{
	float:left;
	width: 50%;
}
.theme{
	float:left;
	width: 50%;
	margin-top:-17px;
}