body{
	background: #F2F2F2;
	width:70%;
	margin-left: 15%;
	font-size:18px;
}
table{
	width: 100%;
}
table, th, td{
	border:1px solid #848484;
	font-size:20px;
}
tr{
	text-align: center;
}
.main{
	border:1px solid #848484;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Google Chrome y Safari */
	border-radius: 10px;
	padding:10px;
	height: 40%;
	background-color:#D8D8D8;
}