<!DOCTYPE html>
<html ng-app="BirthListApp">
<head>
	<title>Birth list</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
<style>
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #778899;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #778899;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #778899;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #778899;
}
</style>
</head>
<body class="card-panel #f5f5f5 grey lighten-5 z-depth-0">
<div class="container" ng-controller="AppCtrl">
<h4>AngularJS REST Client</h4>
<div class="row centered">
		<div class="col s1"><button class="#4caf50 green btn-floating btn-large waves-effect waves-light" ng-click="getAll()"><i class="material-icons">view_list</i></button></div>
		<div class="col s1"><button class="btn-floating btn-large waves-effect waves-light red" ng-click="deleteAll()"><i class="material-icons">delete</i></button></div>		
		<div class="col s6"><button class="#5d4037 brown darken-2 btn-floating btn-large waves-effect waves-light" ng-click="loadBirth()"><i class="material-icons">restore</i></button></div>
<div class="col s2">
  <select ng-model="region" class="browser-default form-control">
    <option value="">Region</option>
    <option value="Andalucia">Andalucia</option>
    <option value="Cataluña">Cataluña</option>
    <option value="Madrid">Madrid</option>
    <option value="Galicia">Galicia</option>            
    <option value="País Vasco">País Vasco</option>            
    <option value="Murcia">Murcia</option>                
  </select>
</div>
<div class="col s1">
  <select class="browser-default form-control" ng-model="year">
    <option value="">Year</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>    
    <option value="2011">2011</option>
    <option value="2012">2012</option>        
    <option value="2013">2013</option>    
    <option value="2014">2014</option>      
  </select>
</div>
		<div class="col s1"><button class="#2e7d32 green darken-3 btn-floating btn-large waves-effect waves-light" ng-click="search(region,year)"><i class="material-icons">search</i></button></div>
</div>		
		<table class="striped">
			<thead>
				<tr class="#42a5f5 blue lighten-1 z-depth-0">
					<th class="center-align white-text centered">Region</th>
					<th class="center-align white-text centered">Year</th>
					<th class="center-align white-text centered">Men</th>
					<th class="center-align white-text centered">Women</th>
					<th class="center-align white-text centered">Totalbirth</th>
					<th class="center-align white-text centered" colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="birth.region"/></td>
					<td><input class="form-control" ng-model="birth.year"/></td>
					<td><input class="form-control" ng-model="birth.men"/></td>
					<td><input class="form-control" ng-model="birth.women"/></td>
					<td><input class="form-control" ng-model="birth.totalbirth"/></td>
					<td colspan="2" class="center-align"><button class="btn-floating btn-large waves-effect waves-light blue" ng-click="addBirth()"><i class="material-icons">add</i></button></td>

				</tr>
				<tr ng-repeat="birth in birthlist">
					<td>{{birth.region}}</td>
					<td>{{birth.year}}</td>
					<td>{{birth.men}}</td>
					<td>{{birth.women}}</td>
					<td>{{birth.totalbirth}}</td>
					<td><button class="btn-floating btn-large waves-effect waves-light #f44336 red" ng-click="deleteBirth(birth.region,birth.year)"><i class="material-icons">delete</i></button></td>
					<td><button class="btn-floating btn-large waves-effect waves-light purple" ng-click="updateBirth(birth.region,birth.year)"><i class="material-icons">mode_edit</i></button></td>
				</tr>
			</tbody>
		</table>
		  
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="controllers.js"></script>


</body>
</html>